{% extends "base.html" %}

{% block content %}

<div class="container my-5">
    <div class="row">
        <a href="{% url 'index' %}" class="my-3 text-center"> Add Diary</a>
        <div class="col-md-7 mx-auto">
            {% if show %}
            {% for item in show %}
            <a href="{% url 'singlediary' item.id %}" class="text-decoration-none">
                <p class='lead p-2 border border-darl'>
                    <strong>{{item.date_created}}</strong>
                    <br>
                    {{item.text}}
                </p>
            </a>
            {% endfor %}
            {% else %}
                <p class="lead p-4 bg-danger text-white">
                    No Diary Entry
                </p>
            {% endif %}
            



        </div>

    </div>
</div>


{% endblock content %}
